<!DOCTYPE html>
<html lang="en">

<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/33e0efac93.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Detail Tour</title>
    <style> @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); </style>
</head>
<body>
<div class="container-fluid mb-3 mt-2" style="font-family: 'Kanit', sans-serif;">
    <h1>ทัวร์ภูเก็ต</h1>
    <hr>
    <img src="phuket-detail.webp" width="400" height="200"
         style="object-fit: cover; display: block; margin: auto;">
    <div class="card shadow-sm p-1 my-3 bg-body rounded">
        <div class="card-body">
            <div class="detail">
                <h4>รายละเอียด</h4>
                <p>ทัวร์ภูเก็ต หมู่เกาะพีพีเล อ่าวมาหยา ถ้ำไวกิ้ง ดำน้ำ อิ่มบุฟเฟ่ต์ โปรโมชั่น เที่ยววันเดียว แวะลงหาด
                    ดำน้ำ กิจกรรมมากมาย พีพี เล่นน้ำที่อ่าวปิเละ ชมและถ่ายรูปถ้ำไวกิ้ง
                    แถมได้ลงไปถ่ายรูปกับลิงที่หาดลิงด้วย สุดท้ายจะพาแวะเกาะไข่ เกาะเล็กๆ ทีมีเสน่ห์เหลือเกิน
                </p>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-1 my-3 bg-body rounded">
        <div class="card-body">
            <div class="tourTable">
                <h4>ตารางการเดินทาง</h4>
                <p> 07.30 น. รถรับจากโรงแรม เดินทางสู่ท่าเรือ เช็คอิน ที่ท่าเรือมีบริการเครื่องดื่ม ชา กาแฟ อาหารว่าง
                    <br>
                    09.00 น. ออกเดินทางไปยังหมู่เกาะพีพีเล
                    <br>
                    10.00 น. ลงอ่าวมาหยา สถานที่ถ่ายทำภาพยนตร์เรื่อง“เดอะบีช” (ถ่ายรูปบนเรือ)
                    และเดินทางต่อไปดำน้ำที่อ่าวโละซามะมีปะการังและสัตว์ทะเลนานาชนิด
                    จากนั้นแวะอ่าวปิเละ หยุดให้กระโดดน้ำเล่น จุดนี้วิวล้อมรอบด้วยเขาหินปูนที่สวยงาม
                    น้ำทะเลสีเขียวมรกตแวะถ่ายรูปที่ถ้ำไวกิ้งสถานที่เก็บรังนกนางแอ่น และไปชมลิงแสมทะเล ที่หาดลิง ดำน้ำ 1
                    จุดบริเวณพีพีดอน
                    <br>
                    12.30 น. รับประทานอาหารบุพเฟ่กลางวัน ที่อ่าวต้นไทร พีพีดอน
                    มีเวลาสามารถเลือกซื้อของฝากตามร้านค้าบนเกาะ
                    <br>
                    13.30 น. ออกเดินทางสู่เกาะไข่เกาะเล็กๆ รูปทรงไข่ดาว กลางท้องทะเล
                    ท่านสามารถดำน้ำตื้นชมปะการังและว่ายน้ำกับฝูงปลาตามอัธยาศัย
                    <br>
                    16.30 น. ออกเดินทางกลับสู่ท่าเรือ และนำท่านส่งโรงแรมที่พักโดยสวัสดิภาพ
                </p>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-1 my-3 bg-body rounded">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <h4>วันเดินทาง</h4>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            เลือกวันเดินทาง
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">16-01-2566</a></li>
                            <li><a class="dropdown-item" href="#">20-02-2566</a></li>
                            <li><a class="dropdown-item" href="#">25-02-2566</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <h4>ผู้เดินทาง</h4>
                    <i class="fa-solid fa-person fa-xl"></i>
                </div>
                <div class="col-3">
                    <div class="row">
                        <h4>ราคา</h4>
                        <div class="col-3">
                            <p style="color: #2b99ff;">THB
                                <span>1400</span>
                            </p>
                        </div>
                        <div class="col-9">
                            <div class="input-group mx-5" style="width: 100%;">
                  <span class=" input-group-btn" style="width: 15%;">
                    <button style="height: 100%;" type="button" class="quantity-left-minus btn btn-danger btn-number"
                            data-type="minus" data-field="">
                      <i class="fa-solid fa-minus"></i>
                    </button>
                  </span>
                                <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                       value="1" min="1" max="100">
                                <span class="input-group-btn" style="width: 65%;">
                    <button style="height: 100%;" type="button" class="quantity-right-plus btn btn-success btn-number"
                            data-type="plus" data-field="">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-9">
                        <div class="row">
                            <hr>
                            <div class="col-4">
                                <p>ราคาทั้งหมด <span style="color: #2b99ff;">2</span> ท่าน </p>
                            </div>
                            <div class="col-2">
                                <p style="color: #2b99ff; margin-left: 12px;">THB <span>2800</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="http://localhost:8080/form" type="button" class="btn btn-primary col-1 mx-3">จองทัวร์</a>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>

</html>