<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<head>
    <meta charset="UTF-8">
        <title>Payment</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>

<body>

<div class="container-fluid" style="font-family: 'Kanit', sans-serif;">
    <h3> &nbsp;</h3>
    <div class="row">
        <div class="col-12 d-flex
                    align-items-center flex-column">
            <div class="card " style="width: 90rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                ช่องทางการชำระเงิน
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-6 p-2 d-inline" th:each="pay : ${payments}">
                            <div class="row p-2">
                                <div class="col-4">
                                    <img th:src="${pay.account_img}">
                                </div>
                                <div class="col-8">
                                    <p th:text="${pay.name}"></p>
                                    <div class="row">
                                        <div class="col">
                                            <p>หมายเลขบัญชี</p>
                                        </div>
                                        <div class="col">
                                            <p th:text="${pay.account_number}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>ชื่อบัญชี</p>
                                        </div>
                                        <div class="col">
                                            <p th:text="${pay.account_name}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex
                                    align-items-center flex-column">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                ส่งหลักฐานการชำระเงิน
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/save-pay}" th:object="${user}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ส่งหลักฐานการชำระเงิน</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                ธนาคารที่ทำการชำระเงิน
                            </div>
                            <div class="col">
                                <select th:field="*{bank}" class="form-select form-select-sm"
                                        aria-label=".form-select-sm example">
                                    <option th:value="none">Open this select menu</option>
                                    <option th:value="ธนาคารกสิกรไทย" th:text="ธนาคารกสิกรไทย"></option>
                                    <option th:value="ธนาคารไทยพาณิชย์" th:text="ธนาคารไทยพาณิชย์"></option>
                                    <option th:value="ธนาคารกรุงไทย" th:text="ธนาคารกรุงไทย"></option>
                                    <option th:value="ธนาคารกรุงศรีอยุธยา" th:text="ธนาคารกรุงศรีอยุธยา"></option>
                                    <option th:value="ธนาคารออมสิน" th:text="ธนาคารออมสิน"></option>
                                    <option th:value="ธนาคารทหารไทย" th:text="ธนาคารทหารไทย"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="form-group">
                                <label class="form-label">รหัสลูกค้า</label>
                                <select class="form-select" th:field="*{id}">
                                    <option selected th:each="user : ${user.id}"
                                            th:value="${user}"
                                            th:text="${user}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <label class="form-label">สลิปการโอนเงิน</label>
                                <input name="image" accept="image/*" class="form-control form-control-sm"
                                       type="file" id="slip">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">ยืนยัน</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>

</html>